<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">

   <!--Bootstrap Stylesheet-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <title>Welcome Page</title>
   <br>
   <h1><strong><center>Yesha Jhala</center></strong></h1>
   <h2><center>CS 493 Final Project</center></h2>
</head>
<body>
   <style>
   h1 {
      font-family: Times, "Times New Roman", Georgia, serif;;
      text-align: center;
   }
   img {
      width: 20%;
      height: auto;
   }
   body {
      background-color: skyblue;
   }
   </style>
   <br>
   <center><a href= '/ui_login'><input type="button" value="Log in or create an account"/></center>
   <br>
</body>
</html>
